.sweet-btn{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0px;
    background-color: white;
    width: max-content;
    border-color: rgba(70, 69, 69, 0.993);
    padding: 5px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: 0.35s;


}

.sweet-btn:hover{
    color: white;
    background: black;
}